body {
  text-align: center;
}

.choice-button {
  width: 100px;
  height: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(164, 212, 130);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}