#bag {
      background-color: rgba(164, 238, 164, 0.9);
      border-radius: 7px;
      border: 0px;
    }
    #wish {
      background-color: #ffffff;
      border-radius: 6px;
      padding: 5px 25px;
    }